.title{
  margin: 0;
  margin-bottom: 40px;
  font-weight: 500;
  text-align: left;
  font-size: 24px;
}

.postTitle{
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  text-transform: uppercase;
}

.postCreator{
  font-size: 12px;
  margin: 10px 0;
}

.titleDate{
  font-size: 10px;
}

.actionContainer{
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.deleteButton{
  padding: 15px 30px;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  background-color: crimson;
  color: white;
  border: 0;
  border-radius: 5px;
  align-self: flex-end;
}

.buttonLink{
  height: 15px;
  padding: 15px 30px;
  text-decoration: none;
  background-color: rgb(0, 188, 212);
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  color: white;
}

.buttonLink:hover, .deleteButton:hover{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4) ;
}

@media (max-width: 375px){
  .deleteButton, .buttonLink{
  padding: 15px 10px;
  }
}