.container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  background-color: white;
  width: 90%;
  margin-bottom: 20px;
  max-width: 600px;
  box-sizing: border-box;
  align-self: center; 
}